@media screen and (max-width: 320px) {
  html {
    font-size: 90px;
  }
}
@media screen and (min-width: 320px) and (max-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: calc((100vw / 750) * 100);
  }
}

/* 借鉴百度body样式 */
body {
  font-size: 0.13rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  /* 当html标签无背景样式时，body的背景色其实不是body标签的背景色，而是浏览器的。一旦html标签含有背景色，则body的背景色变成了正常的body标签自己的背景色，而此时的html标签最顶级，背景色被浏览器获取，成为浏览器的背景色。 */
  background-color: #f1f1f1;
}
